@{
    ViewData["Title"] = "Out Of Stock";
}
<br />
<br />
<h2>This Product Is Out of Stock!</h2>
<div>
    <a class="btn-default" asp-controller="Products" asp-action="Index">Add Some Other Products to your Shopping Cart</a>
</div>