@{
    ViewData["Title"] = "Shopping Cart is Empty";
}
<h2>Your Shopping Cart is Empty!</h2>
<div>
    &lt;&lt; <a asp-controller="Products" asp-action="Index">Add Some Products to your Shopping Cart</a>
</div>
