@model Bangazon.Models.ProductViewModels.ProductCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Product.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Quantity" class="form-control" />
                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
<<<<<<< HEAD
            <label asp-for="Product.ProductTypeID" class="col-md-2 control-label">Product Category</label>
=======
            <label asp-for="Product.ProductTypeID" class="col-md-2 control-label"></label>
>>>>>>> master
            <div class="col-md-10">
                @Html.DropDownList(
                    "Product.ProductTypeID",
                    @Model.ProductTypeId,
                    new
                    {
                        @name = "Product.ProductTypeID"
                    }
                )
                @Html.ValidationMessageFor(model => model.Product.ProductTypeID, "", new { @class="text-danger"})
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <label class="create_prod_text">
                        <input type="checkbox" name="localDeliveryCheck" value="yes" class="location_checkbox"> Local Delivery Available
                    </label>
                </div>
            </div>
        </div>
        <div class="row form-group location hidden">
            <label asp-for="Product.Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Location" class="form-control" />
                <span asp-validation-for="Product.Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Upload Photo</label>
            <div class="col-md-10">
                <input type="file" name="ProductPhoto"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" asp-route-return-url="" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
